.meal-card {
  width: 200px;
  background: var(--color-bg-card-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  padding: var(--padding-y-x-sm);
  row-gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.meal-card-info {
  text-align: center;
}

.meal-time {
  text-transform: uppercase;
  color: var(--color-text-100);
  font-size: 0.75rem;
}

.meal-description {
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.meal-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.meal-calorie {
  font-weight: 600;
}

.meal-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.meal-actions > button,
a {
  border: none;
  padding: 0;
}

.meal-actions > button::before,
a::before {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: contain;
}

.meal-edit::before {
  content: '';
  background: url('/src/assets/images/icons/pen-square.svg') center no-repeat;
}

.meal-delete::before {
  content: '';
  background: url('/src/assets/images/icons/trash.png') center no-repeat;
}
